
hr {
    /*display: block;*/
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
}



a {
    color: #5ab8dd;
    border:none;
    outline:none;
}
img {
    border:none;
    outline:none;
}

body {
    background-color: #171717;
}

div.img {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 267px;
}

div.img:hover {
    /*border: 1px solid #777;*/
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    font-size: 18px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#quotes {
  font-size: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
}
.centered-table {
   margin-left: auto;
   margin-right: auto;
}


.appscentered-table {
   margin-left: auto;
   margin-right: auto;
}

h2 {
  color: #f1f1f1;
}

#content {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
margin-bottom: 30px;
margin-right: 26%;
margin-left: 26%;
color: #BBC;
}

#feature {
text-align: center;
}

#contact {
text-align: center;
}

#banner {
text-align: center;
}

#nav { text-align: center; }
#nav li {list-style: none; display: inline-block; }
#nav a {
  color: #f1f1f1; display: block;font-size: 18px; font-weight: bold; margin: 0; padding: 9px 18px 9px; text-decoration: none;


  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}
#nav a:hover {
text-decoration: underline;
/*color: #13aff0;*/
 }

#nav .active{
/*background-color: #121212;*/
text-decoration: underline;
}


footer {
    text-align: center; color: #f1f1f1;
}
