@media handheld {

	html, body {
		background: #fff;
		padding: 3px;
		color: #000;
		margin: 0;
		}

		#content {
		font-family:arial;
		margin-bottom: 30px;
		margin-right: 20px;
		margin-left: 20px;
		}

}
